/* Mobile */
body{
    font-family: "Verdana", Verdana, Arial, sans-serif;
    min-height: 100vh;
    background-color: grey; 
}

header{
    background-color: #03203C;
    color: #e4f1fe;
	top: 0;
    width: 100%;
    position: fixed;
}

header h1{
    text-align: center;
	margin: 1em auto;
    font-size: 2.3em;
}

.general label{
    display: block;
}

.general{
    height: 50%;
    width: 90%;
    position: fixed;
    top: 25%;
    bottom: 25%;
    left: 50%; 
    margin-left: -45%;
}

.general .label{
    font-size: 1.5em;
    width: 90%;
    margin: 1em auto;
    text-align: left
}

.general fieldset legend{
    font-size: 2.5em;
    text-align: center;
}

.general fieldset{
    margin: 0 auto;
}

.button-container{
    width: 100%;
    height: 3em;
    margin: 5em auto;
    text-align: center;
}

.general .button{
    width: 35%;
    height: 4em;
    background-color: yellow;
    border-radius: 10px;
}

footer{
    text-align: center;
    background-color: #03203C;
    color: #e4f1fe;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer{
    margin: 4em auto;
}

/* Mobile Tablet */
@media screen and (min-width: 768px){
    .general .label{
        text-align: center;
    }
    .general label{
        display: inline;
    }
    .general .button-container{
        width: 75%;
    }
  }
  
  /* Desktops */
@media screen and (min-width: 1025px){
    .general .button-container{
        width: 50%;
    }
  }